@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
    font-family: Baskervville;
    margin: 0;
}

.title-icon {
    object-fit: cover;
}

.contact-section {
    width: 100%;
    max-width: 32rem;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.contact-intro > * + * {
    margin-top: 1rem;
    width: 100%;
}

.contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
}


.contact-description {
    color: black;
}

span {
    text-decoration: underline;
}

i {
    font-size: 1.3rem;
    margin-left: 1rem;
}

a {
    color: black;
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid black;
    display: flex;
    height: 2rem;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}


.form-textarea {
    min-height: 120px;
}

.form-submit {
    box-sizing: border-box;
    width: 100%;
    margin-top: 1.2rem;
    font-size: 1rem;
    color: black;
    padding: 13px 5px;
    border: solid 1px black;
}

.api {
    text-decoration: none;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

@media (max-width: 430px) {
    body {
        padding: 2rem;
    }

    .contact-section {
        margin-top: -15px;
    }

    .footer-copyright {
        font-size: .9rem;
    }
}